axon-server-se/** filter=lfs diff=lfs merge=lfs -text
axon-server-se/events/default/00000000000000000000.snapshots filter=lfs diff=lfs merge=lfs -text
axon-server-se/events/default/00000000000000000000.events filter=lfs diff=lfs merge=lfs -text
